body {
    background-color: var(--color-background);
    background-size: auto;
    font-family: var(--mainfont);
    font-size: clamp(1.5rem, 2.5vw, 3rem); 
  }
  
       /* the "container" is what wraps your entire website */
        /* if you want something (like the header) to be Wider than
the other elements, you will need to move that div outside
of the container */
#container {
    max-width: 100%;
    /* this is the width of your layout! */
    /* if you change the above value, scroll to the bottom
and change the media query according to the comment! */
    margin: 0 auto;
    /* this centers the entire page */
    background-color: #000000;
}



        /* the area below is for all links on your page
EXCEPT for the navigation */
#container a {
    color: #000000;
    font-weight: bold;
    /* if you want to remove the underline
you can add a line below here that says:
text-decoration:none; */
}
#container a:hover {
    text-decoration: underline;
    color: #F5A9B8;
  }

  
  
       /* navigation section!! */
       #navbar {
        height: 40px;
        background-color: #000000;
        /* navbar color */
        width: 100%;
    }

    #navbar ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
        justify-content: space-evenly;
    }

    #navbar li {
        padding-top: 10px;
    }

    /* navigation links*/
    #navbar li a {
        color: #ffffff;
        /* navbar text color */
        font-weight: 800;
        text-decoration: none;
        /* this removes the underline */
    }

    /* navigation link when a link is hovered over */
    #navbar li a:hover {
        color: #F5A9B8;
        text-decoration: underline;
    }

    #flex {
        display: flex;
    }


  
    h1 {
      font-family: 'Rokkitt', serif;
        margin-top: 0px;
        margin-bottom: 10px;
        color: #ffffff;
        font-size: 4rem;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        text-align: center
    }
  

      body {
        font-family: 'Rokkitt', serif;
        color: #111;
        font-size: 1.2rem;
      }

      body a{
        color: #5BCEFA;
        text-decoration: none;
      }

      body a:hover {
        text-decoration: underline;
      }

    main {
        background-color: #ffffff;
        flex: 1;
        padding: 40px;
        order: 2;
        max-width: 70%;
        margin: 0 auto;
    }

    footer {
        background-color: #000000;
        /* background color for footer */
       color: #ffffff;
        max-height: 100px;
        padding: 20px;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        /* this centers the footer text */
    }

    .responsive {
        width: 100%;
        max-width: 400px;
        height: auto;
      }


            /* this is just a cool box, it's the darker colored one */
            .box {
                background-color: #13092D;
                border: 1px solid #000000;
                padding: 10px;
            }

        /* BELOW THIS POINT IS MEDIA QUERY */

        /* so you wanna change the width of your page? 
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the 
"max-width" value below
*/

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #rightSidebar {
        order: 3;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}

 /* Style all font awesome icons */


  .fa-brands{
    padding: 5px;
    font-size: 25px;
    margin-top: 5px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa-brands:hover {
    opacity: 0.7;
    text-decoration: none;
  }
  
  /* Set a specific color for each brand */
  
  /* Instagram */
  .fa-instagram {
    background: #ea5976;
    color: white;
  }
  
  /* Whatsapp */
  .fa-whatsapp {
    background: #30e922;
    color: white;
  } 
  /* Whatsapp */
  .fa-discord {
    background: #7e61ab;
    color: white;
  } 

  .googleCalendar{
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 60%;
}

.googleCalendar iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hamburger{
display: none;
}

.bar{

}

@media (max-width= 650px){
  .nav{
    position: fixed;
    top: 60px;
    left: 0;
    background-color: #000000;
    width: 100%;
    padding: 10px 0 25px;
  }
}

 /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
} 

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 