body {
    background-color: var(--color-background);
    background-size: auto;
    font-family: var(--mainfont);
    font-size: clamp(1.5rem, 2.5vw, 3rem); 
  }
  
       /* the "container" is what wraps your entire website */
        /* if you want something (like the header) to be Wider than
the other elements, you will need to move that div outside
of the container */
#container {
    max-width: 100%;
    /* this is the width of your layout! */
    /* if you change the above value, scroll to the bottom
and change the media query according to the comment! */
    margin: 0 auto;
    /* this centers the entire page */
    background-color: #000000;
}

    #flex {
        display: flex;
    }

  
    h1 {
      font-family: 'Rokkitt', serif;
        margin-top: 0px;
        margin-bottom: 10px;
        color: #ffffff;
        font-size: 4rem;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        text-align: center
    }

        h2 {
        font-size: 1.5rem;
    }
  

      body {
        font-family: 'Rokkitt', serif;
        color: #111;
        font-size: 1.2rem;
      }

      body a{
        color: #5bcefa;
        text-decoration: none;
      }

      body a:hover {
        text-decoration: underline;
      }

    main {
        background-color: #ffffff;
        flex: 1;
        padding: 40px;
        order: 2;
        max-width: 70%;
        margin: 0 auto;
    }

    footer {
        background-color: #000000;
        /* background color for footer */
       color: #ffffff;
        max-height: 100px;
        padding: 20px;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        /* this centers the footer text */
    }

    .responsive {
        width: 100%;
        max-width: 400px;
        height: auto;
      }


            /* this is just a cool box, it's the darker colored one */
            .box {
                background-color: #13092D;
                border: 1px solid #000000;
                padding: 10px;
            }



    /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
    main {
        order: 1;
    }

    #navbar ul {
        flex-wrap: wrap;
    }

 /* Style all font awesome icons */


  .fa-brands{
    padding: 5px;
    font-size: 25px;
    margin-top: 5px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa-brands:hover {
    opacity: 0.7;
    text-decoration: none;
  }

    .fa-solid{
    padding: 5px;
    font-size: 25px;
    margin-top: 5px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa-solid:hover {
    opacity: 0.7;
    text-decoration: none;
  }
  /* Set a specific color for each brand */
  
  /* Instagram */
  .fa-instagram {
    background: #ea5976;
    color: white;
  }
  
  /* Signal Chat */
  .fa-signal-messenger {
    background: #2240e9;
    color: white;
  } 

    /* Signal Announements */
  .fa-bullhorn {
    background: #2240e9;
    color: white;
  } 

  .googleCalendar{
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 60%;
}

.googleCalendar iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


 /* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
  font-weight: bold;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: flex;
  color: #ffffff;
  text-align: center;
  padding: 1% 2.5%;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  color: #000000;
  text-decoration: underline;
  background-color: #F5A9B8;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #5bcefa;
  color: rgb(0, 0, 0);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  color: #ffffff;
} 

 /* When the screen is less than 770 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media (max-width: 770px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media (max-width: 770px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    color: #ffffff;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    color: #ffffff;
  }
  .topnav.responsive a:hover {
    color: #000000;
    background-color: #F5A9B8;
  }
   .topnav.responsive a.active {
    color: #000000;
    background-color: #5bcefa;
  }
} 

i {
  color: #ffffff;
}

i:hover {
  color: #000000;
}